.screenshot-2024-03-19-095521-r-icon {
  position: absolute;
  top: 46px;
  left: 0;
  width: 604px;
  height: 427px;
  object-fit: contain;
  z-index: 1;
}
.screenshot-2024-03-19-094714-r-icon {
  position: absolute;
  top: 0;
  left: 474px;
  width: 723px;
  height: 434px;
  object-fit: contain;
  z-index: 4;
}
.lend-info {
  align-self: stretch;
  height: 473px;
  position: relative;
  flex-shrink: 0;
}
.lend-content,
.rent-content-parent,
.section-1-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lend-content {
  width: 1197px;
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: -662px;
}
.rent-content-parent,
.section-1-parent {
  flex-direction: row;
}
.rent-content-parent {
  width: 2915px;
  flex-shrink: 0;
  max-width: 203%;
}
.section-1-parent {
  align-self: stretch;
  padding: 0 0 var(--padding-39xl) 0;
  box-sizing: border-box;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.arrow-up-square-fill-icon {
  height: 53px;
  width: 60px;
  position: relative;
  object-fit: contain;
}
.scroll-top-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-39xl) 69px;
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: var(--color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 800px) {
  .section-1-parent {
    gap: var(--gap-mid);
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
}
