.account-details-wrapper,
.lokasi,
.lokasi-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lokasi-child {
  border: 0;
  width: 864px;
  flex-direction: row;
  max-width: 100%;
}
.account-details-wrapper,
.lokasi {
  box-sizing: border-box;
}
.account-details-wrapper {
  width: 505px;
  flex-direction: row;
  padding: 0 var(--padding-2xs);
  max-width: 100%;
}
.lokasi {
  width: 100%;
  position: relative;
  border-radius: 60px;
  background-color: var(--color-primary);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-15xl) var(--padding-38xl) 94px;
  gap: var(--gap-18xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .lokasi {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .lokasi {
    gap: var(--gap-lg);
  }
}
