.frame-child15 {
  height: 100px;
  width: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.pilih-kategori-barang2 {
  width: 192px;
  position: relative;
  font-size: var(--heading-02-size);
  display: inline-block;
  font-family: var(--body-14-md);
  color: var(--color-primary);
  text-align: center;
  flex-shrink: 0;
}
.chevron-icon3 {
  width: 10px;
  height: 5px;
  position: relative;
}
.chevron-container,
.primary-button18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0 0;
}
.primary-button18 {
  width: 280px;
  background-color: var(--foundation-yellow-normal);
  flex-direction: row;
  padding: var(--padding-10xl-5) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-31xl);
}
.katalog12 {
  text-decoration: none;
  position: relative;
  font-size: var(--body-18-bd-size);
  font-family: var(--body-14-md);
  color: var(--color-text);
  text-align: left;
  display: inline-block;
  min-width: 77px;
}
.secondary-button32 {
  margin-top: -10.5px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-5) var(--padding-2xs);
}
.katalog13 {
  text-decoration: none;
  position: relative;
  font-size: var(--body-18-bd-size);
  font-family: var(--body-14-md);
  color: var(--color-text);
  text-align: left;
  display: inline-block;
  min-width: 70px;
}
.secondary-button33 {
  margin-top: -10.5px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-5) var(--padding-mini);
}
.katalog14 {
  text-decoration: none;
  position: relative;
  font-size: var(--body-18-bd-size);
  font-family: var(--body-14-md);
  color: var(--color-text);
  text-align: left;
  display: inline-block;
  min-width: 72px;
}
.secondary-button34 {
  margin-top: -10.5px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-5) var(--padding-sm);
}
.katalog15 {
  text-decoration: none;
  position: relative;
  font-size: var(--body-18-bd-size);
  font-family: var(--body-14-md);
  color: var(--color-text);
  text-align: left;
  display: inline-block;
  min-width: 45px;
}
.secondary-button35 {
  margin-top: -10.5px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-5) var(--padding-8xl);
}
.katalog16 {
  text-decoration: none;
  position: relative;
  font-size: var(--body-18-bd-size);
  font-family: var(--body-14-md);
  color: var(--foundation-blue-light);
  text-align: left;
  display: inline-block;
  min-width: 77px;
}
.secondary-button-parent1,
.secondary-button36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.secondary-button36 {
  margin-top: -10.5px;
  width: 100px;
  border-radius: var(--br-3xs);
  background-color: var(--foundation-blue-normal);
  border: 1px solid var(--foundation-blue-dark-hover);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-2xs);
  cursor: pointer;
}
.secondary-button-parent1 {
  align-self: stretch;
  height: 29px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.nav-putih-child {
  width: 648px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.secondary-button38 {
  width: 148px;
  position: relative;
  font-size: var(--heading-02-size);
  display: none;
  font-family: var(--body-14-md);
  color: var(--foundation-primary-normal-active);
  text-align: left;
}
.secondary-button37 {
  height: 48px;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-primary);
  border: 1px solid var(--foundation-blue-dark);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  white-space: nowrap;
}
.search-icon1,
.terdekat1 {
  position: absolute;
  margin: 0 !important;
  top: 13px;
  z-index: 1;
}
.search-icon1 {
  height: 19px;
  width: 22px;
  right: 21px;
}
.terdekat1 {
  width: 133px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--body-14-md);
  font-size: var(--body-14-md-size);
  background-color: transparent;
  height: 21px;
  left: 16px;
  color: var(--foundation-blue-normal);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.alamat-container,
.alamat2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.alamat2 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.alamat-container {
  width: 305px;
  flex-direction: column;
  padding: var(--padding-mid-5) 0 0;
  box-sizing: border-box;
}
.nav-putih2 {
  background-color: var(--foundation-blue-light1);
  border-bottom: 1px solid var(--foundation-blue-normal);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-11xl);
  gap: var(--gap-57xl);
  width: 100%;
}
.frame-header,
.nav-putih2,
.navbar-revisi2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.navbar-revisi2 {
  margin: 0;
  width: 100%;
  flex-direction: column;
  padding: 0 0 var(--padding-12xs) var(--padding-11xs);
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 1;
}
.frame-header {
  align-self: stretch;
  flex-direction: row;
}
.untitled-design-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-parent26 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
@media screen and (max-width: 1350px) {
  .nav-putih2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .nav-putih2 {
    gap: var(--gap-19xl);
  }
}
@media screen and (max-width: 450px) {
  .primary-button18 {
    gap: var(--gap-6xl);
  }
  .nav-putih2 {
    gap: var(--gap-lgi);
  }
}
