.cara-sewa,
.sewa-mudah-hanya {
  margin: 0;
  position: relative;
  font-weight: 700;
  font-family: inherit;
}
.cara-sewa {
  width: 343px;
  font-size: inherit;
  display: inline-block;
  max-width: 100%;
}
.sewa-mudah-hanya {
  font-size: var(--heading2-bold-size);
  color: var(--foundation-yellow-normal);
}
.rental-title,
.steps-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.steps-title {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.rental-title {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--heading3-bold-size);
  color: var(--foundation-blue-normal);
}
.image-icon {
  height: 45px;
  width: 65.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.step-content-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.step-content {
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  position: relative;
}
.pilih-produk {
  width: 217.5px;
  position: relative;
  line-height: 25px;
  font-weight: 700;
  display: inline-block;
}
.menyewa-barang-yang {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--body-17-rg-size);
}
.step-title-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.rental-step,
.rental-steps-container,
.step-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.step-description {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 246px;
}
.rental-step,
.rental-steps-container {
  flex-direction: row;
}
.rental-step {
  flex: 1;
  gap: var(--gap-xs-6);
}
.rental-steps-container {
  width: 476px;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.step-content-item {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.step-content1 {
  height: 72px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
}
.pemakaian-dan-perpanjang {
  width: 273px;
  position: relative;
  display: inline-block;
}
.mengunggah-fotovideo-yang {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--body-17-rg-size);
}
.rental-step1,
.step-description1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.step-description1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xs);
  min-width: 286px;
}
.rental-step1 {
  width: 535px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-mini);
}
.step-content-inner {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.step-content2 {
  height: 78px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.pengembalian-barang1 {
  position: relative;
  font-weight: 700;
}
.mengisi-form-selesai {
  margin: 0;
  align-self: stretch;
  height: 25px;
  position: relative;
  font-size: var(--body-17-rg-size);
  display: inline-block;
  flex-shrink: 0;
}
.step-description2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  min-width: 276px;
}
.rental-header,
.rental-step2,
.step-description2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rental-step2 {
  width: 519px;
  flex-direction: row;
  gap: var(--gap-mini);
}
.rental-header {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.group-icon1 {
  width: 365px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.rental-steps,
.rental-steps-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rental-steps {
  width: 1106px;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.rental-steps-wrapper {
  width: 1388px;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-18-bd-size);
  color: var(--color-text);
  font-family: var(--body-14-md);
}
@media screen and (max-width: 1125px) {
  .group-icon1 {
    flex: 1;
  }
  .rental-steps {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .sewa-mudah-hanya {
    font-size: var(--font-size-10xl);
  }
  .rental-step1 {
    flex-wrap: wrap;
  }
  .rental-header {
    gap: var(--gap-base);
    min-width: 100%;
  }
  .rental-steps-wrapper {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .cara-sewa {
    font-size: var(--font-size-2xl);
  }
  .sewa-mudah-hanya {
    font-size: var(--font-size-3xl);
  }
  .rental-step,
  .rental-step2 {
    flex-wrap: wrap;
  }
}
