@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-14-md: Poppins;
  --heading3-rg: "DM Sans";
  --body-17-bold: "Open Sans";
  --android-body-1: "Balsamiq Sans";
  --font-inter: Inter;

  /* font sizes */
  --body-14-md-size: 14px;
  --body-18-bd-size: 18px;
  --heading-02-size: 16px;
  --font-size-9xl-5: 28.5px;
  --font-size-4xl: 23px;
  --body-17-rg-size: 17px;
  --heading2-bold-size: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --heading3-bold-size: 26px;
  --font-size-2xl: 21px;
  --font-size-xs: 12px;
  --heading1-size: 46px;
  --font-size-9xl: 28px;
  --font-size-18xl: 37px;
  --font-size-3xs: 10px;
  --font-size-smi-2: 12.2px;

  /* Colors */
  --color-primary: #fff;
  --foundation-blue-light1: #f6fcff;
  --foundation-blue-normal1: #e2f4ff;
  --color-text: #000;
  --foundation-primary-normal: #fefefe;
  --foundation-blue-light2: #fcfeff;
  --foundation-primary-normal-active: #242135;
  --color-gray-100: #351c22;
  --body-text-body-color: #212529;
  --foundation-blue-dark-hover: #00263b;
  --black: #1a1a1a;
  --hitbox: rgba(255, 255, 255, 0);
  --color-darkslategray-100: #3a3a3a;
  --dark-dark-900: #363842;
  --foundation-blue-normal: #003f62;
  --color-darkslategray-200: #263238;
  --foundation-blue-dark: #002f4a;
  --foundation-yellow-normal: #eda315;
  --color-darkgoldenrod: #ba7000;
  --gray-500: #adb5bd;
  --gray-200: #b3b3b3;
  --color-darkgray-100: #adadad;
  --color-darkgray-200: #959595;
  --color-gainsboro-100: #e6e6e6;
  --theme-border: #dee2e6;
  --foundation-blue-light-hover: #d9e2e7;
  --dark-dark-100: #d8d9e0;
  --color-saddlebrown-100: #7a5e2e;
  --foundation-yellow-darker: #533907;
  --blue-blue-50: #e9f0ff;
  --blue-blue-900: #102b6b;
  --info-info700: #0973a8;
  --foundation-primary-p300: #265073;
  --foundation-blue-light: #e6ecef;
  --foundation-blue-normal-active: #b5c3cc;
  --foundation-primary-dark: #bfbfbf;
  --foundation-blue-dark-active: #666e73;
  --gray-100: #666;
  --foundation-blue-darker: #4f5559;
  --foundation-yellow-light-hover: #fcf1dc;
  --theme-primary: #0d6efd;
  --color-lightgray: #d5d5d5;

  /* Gaps */
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-sm: 14px;
  --gap-xl: 20px;
  --gap-mini: 15px;
  --gap-6xl-6: 25.6px;
  --gap-9xl: 28px;
  --gap-18xl: 37px;
  --gap-lg: 18px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-10xs: 3px;
  --gap-xs-6: 11.6px;
  --gap-11xs: 2px;
  --gap-6xs: 7px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-5xs: 8px;
  --gap-14xl: 33px;
  --gap-21xl: 40px;
  --gap-3xl-5: 22.5px;
  --gap-mid: 17px;
  --gap-7xs: 6px;
  --gap-4xl: 23px;
  --gap-3xs: 10px;
  --gap-16xl: 35px;
  --gap-82xl: 101px;
  --gap-31xl: 50px;
  --gap-30xl: 49px;
  --gap-5xl: 24px;
  --gap-2xl: 21px;
  --gap-71xl: 90px;
  --gap-3xl: 22px;
  --gap-26xl: 45px;
  --gap-57xl: 76px;
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-11xl: 30px;
  --gap-xs: 12px;
  --gap-3xl-6: 22.6px;
  --gap-8xs: 5px;
  --gap-smi-7: 12.7px;
  --gap-86xl: 105px;

  /* Paddings */
  --padding-62xl: 81px;
  --padding-16xl: 35px;
  --padding-base: 16px;
  --padding-xl: 20px;
  --padding-34xl: 53px;
  --padding-mini: 15px;
  --padding-162xl: 181px;
  --padding-71xl: 90px;
  --padding-11xs: 2px;
  --padding-8xs: 5px;
  --padding-lg: 18px;
  --padding-5xs: 8px;
  --padding-18xl: 37px;
  --padding-3xs: 10px;
  --padding-3xl: 22px;
  --padding-sm: 14px;
  --padding-4xs: 9px;
  --padding-9xs: 4px;
  --padding-39xl: 58px;
  --padding-31xl: 50px;
  --padding-13xl: 32px;
  --padding-smi: 13px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-7xs: 6px;
  --padding-xs: 12px;
  --padding-28xl: 47px;
  --padding-12xl: 31px;
  --padding-59xl: 78px;
  --padding-61xl: 80px;
  --padding-6xl: 25px;
  --padding-15xl: 34px;
  --padding-19xl: 38px;
  --padding-20xl: 39px;
  --padding-33xl: 52px;
  --padding-4xl: 23px;
  --padding-lgi: 19px;
  --padding-mid: 17px;
  --padding-48xl: 67px;
  --padding-25xl: 44px;
  --padding-7xl: 26px;
  --padding-8xl: 27px;
  --padding-124xl: 143px;
  --padding-9xl: 28px;
  --padding-17xl: 36px;
  --padding-116xl: 135px;
  --padding-84xl: 103px;
  --padding-643xl: 662px;
  --padding-312xl: 331px;
  --padding-5xl: 24px;
  --padding-64xl: 83px;
  --padding-109xl: 128px;
  --padding-45xl: 64px;
  --padding-35xl: 54px;
  --padding-22xl: 41px;
  --padding-63xl: 82px;
  --padding-12xs: 1px;
  --padding-11xl: 30px;
  --padding-mid-5: 17.5px;
  --padding-xs-5: 11.5px;
  --padding-2xs: 11px;
  --padding-10xl-5: 29.5px;
  --padding-3xs-5: 9.5px;
  --padding-lgi-5: 19.5px;
  --padding-10xs-5: 2.5px;
  --padding-2xs-5: 10.5px;
  --padding-lg-5: 18.5px;
  --padding-37xl: 56px;
  --padding-38xl: 57px;
  --padding-2xl: 21px;
  --padding-4xl-8: 23.8px;
  --padding-10xl: 29px;
  --padding-21xl: 40px;
  --padding-11xs-5: 1.5px;

  /* Border radiuses */
  --br-26xl-6: 45.6px;
  --br-26xl: 45px;
  --br-21xl: 40px;
  --br-5xl: 24px;
  --br-3xs: 10px;
  --br-11xs: 2px;
  --br-9980xl: 9999px;
  --br-mini: 15px;
  --br-13xl: 32px;
  --br-29xl: 48px;
  --br-9xs: 4px;
  --br-9xs-2: 3.2px;

  /* Effects */
  --regular-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  --border-divider-divider: 0px 1px 0px rgba(0, 0, 0, 0.13) inset;
  --ant-border-divider-divider: 0px -1px 0px #f0f0f0 inset;
  --active-shadow-outline-primary: 0px 0px 0px 4px rgba(13, 110, 253, 0.25);
}
